<a href="https://colab.research.google.com/github/mohamedhossam23/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas Series**

In [ ]:
import pandas as pd
list1 = [1, 7, 2]
ser1 = pd.Series(list1)
ser1

0    1
1    7
2    2
dtype: int64

Create Labels

In [ ]:
li = [1, 7, 2]
serl = pd.Series(li, index = ["x", "y", "z"])
serl

x    1
y    7
z    2
dtype: int64

Key/Value Objects as Series

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}
ser2 = pd.Series(calories)
ser2

day1    420
day2    380
day3    390
dtype: int64

## **DataFrames**

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

Locate Row

In [ ]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

Named Indexes

In [ ]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Locate Named Indexes

In [ ]:
df.loc["day1"]

calories    420
duration     50
Name: day1, dtype: int64

In [ ]:
data = pd.read_csv('Student_Marks.csv')
data

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [ ]:
data.head(10)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299
5               6       3.211  17.822
6               3       6.063  29.889
7               5       3.413  17.264
8               4       4.410  20.348
9               3       6.173  30.862